@model CustomerManagement.Web.Models.Customer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Hello</legend>
        <div style="padding: 5px 50px; border-radius: 6px;">
            <ol>
                <li>
                    @Html.LabelFor(m => m.Id)
                    @Html.TextBoxFor(m => m.Id)
                </li>
                <li>
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName)
                </li>
                <li>
                    @Html.LabelFor(m => m.MiddleName)
                    @Html.TextBoxFor(m => m.MiddleName)
                </li>
                <li>
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Address)
                    @Html.TextBoxFor(m => m.Address)
                </li>
                <li>
                    @Html.LabelFor(m => m.MobileNo)
                    @Html.TextBoxFor(m => m.MobileNo)
                </li>
            </ol>
            <input type="submit" value="Save" />
        </div>
    </fieldset>
}
